.container{
  width: 100%;
  padding: 5px;
}

.events{
  width: 100%;
  padding-left: 0;
}

.events li{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  gap: 5px;
  align-items: center;
}

.eventsImg{
  width: 100%;
}

.events li span{
  font-weight: 300;
  font-size: 13px;
}

.events li button{
  background-color: white;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
  color: dodgerblue;
}

.events li button:hover{
  background-color: dodgerblue;
  color: white;
}

/* Followers */

.followers{
  padding: 5px;
}

.followers img{
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.followerLists{
  width: 100%;
  padding: 5px;
}

.follower{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}