.home {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  margin: auto;
  background-color: white;
}

.UserInfo {
  flex: 20%;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
}

.Feeds {
  flex: 50%;
  padding: 20px;
}

.Followers {
  flex: 25%;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
}
