.home {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.UserInfo {
  flex: 10%;
  border-right: 1px solid #e0e0e0;
  padding: 10px;
}

.Feeds {
  flex: 60%;
  padding: 20px;
}

.Followers {
  flex: 30%;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
}
