.main{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.imageContainer{
  height: 150px;
  position: relative;
}

.coverPic{
  border-radius: 5px;
  height: 110px;
  object-fit: cover;
}

.userPic{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 3px solid white;
}

.userInfo{
  padding: 10px;
  margin: 0;
}

.userInfo h3{
  text-transform: capitalize;
  text-align: center;
}

.userInfo p{
  font-weight: bold;
}

.userInfo span{
  font-weight: 300;
}

.follow{
  display: flex;
  gap: 10px;
  margin: 0;
}